@media screen and (max-width: 1000px) {
    .container {
        // border: 1px red solid;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 250px 0;
        .konten {
            // max-height: 0px;
            margin: 90px 25px;
            display: flex;
            flex-direction: column;
            p {
                margin-bottom: 35px;
            }
            a {
                font-family: 'Lexend Deca', sans-serif;
                font-size: 15px;
                text-decoration: none;
            }
            .card1 {
                padding: 48px 48px 55px 45px;
                border-radius: 10px  10px 0 0;
            }
            .card2 {
                padding: 48px 48px 55px 45px;
            }

            .card3 {
                padding: 48px 48px 55px 45px;
                border-radius: 0  0 10px 10px;
            }
        }
    }
}